@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply bg-black hover:bg-kv-red text-kv-gray font-bold py-2 px-4 rounded
}

.btn.bg-kv-red-force, .btn-sm.bg-kv-red-force {
    background-color: #d02424 !important;
}

.btn-gray{
    @apply bg-kv-gray text-kv-red hover:bg-kv-red hover:text-kv-gray font-bold py-2 px-4 rounded
}
.btn-close{
    @apply text-red-500  font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150
}
.btn-sm {
    @apply bg-black hover:bg-kv-red disabled:hover:bg-black text-kv-gray font-bold w-16 h-16 rounded flex items-center justify-center mr-2 shadow-kv-gray;
}
.btn-sm-red {
    @apply bg-kv-red hover:bg-kv-logo-gray disabled:hover:bg-kv-red text-kv-gray font-bold w-16 h-16 rounded flex items-center justify-center mr-2 shadow-kv-gray;
}

.inner-icon {
    @apply w-8 h-8;
}

/* Custom utility class */
.bg-dark-leather {
    background-image: url('./images/dark_leather.png');
}
.bg-dark-leather-2 {
    background-image: url('./images/dark_leather.png');
}
.bg-dark-denim {
    background-image: url('./images/darkdenim3.png');
}
.bg-dark-leather:hover {
    background-image: linear-gradient(to bottom, #e53e3e, #e53e3e), url('./images/dark_leather.png');
}

.player-card {
    background-image: url('./images/dark_leather.png');
    background-size: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    padding: 0.75rem;
    align-items: center;
}

ul li:hover {
    background-color: #d02424;
    color: black;
  }

table thead {
    color: #b8b4b4;
}
